/* CSS HEX
--mindaro: #d9ed92ff;
--light-green: #b5e48cff;
--light-green-2: #99d98cff;
--emerald: #76c893ff;
--keppel: #52b69aff;
--verdigris: #34a0a4ff;
--bondi-blue: #168aadff;
--cerulean: #1a759fff;
--lapis-lazuli: #1e6091ff;
--indigo-dye: #184e77ff;

/* CSS HSL
--mindaro: hsla(73, 72%, 75%, 1);
--light-green: hsla(92, 62%, 72%, 1);
--light-green-2: hsla(110, 50%, 70%, 1);
--emerald: hsla(141, 43%, 62%, 1);
--keppel: hsla(163, 41%, 52%, 1);
--verdigris: hsla(182, 52%, 42%, 1);
--bondi-blue: hsla(194, 77%, 38%, 1);
--cerulean: hsla(199, 72%, 36%, 1);
--lapis-lazuli: hsla(206, 66%, 34%, 1);
--indigo-dye: hsla(206, 66%, 28%, 1); */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter var", "sans-serif";
}

html,
body {
  background-color: #fff;
  overscroll-behavior: none;
  @apply w-full h-full;
}

#app {
  @apply w-full h-full;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

@layer components {
  .rangeSlider.min {
    @apply h-[18px] rounded;
  }

  .rangeSlider.min .rangeBar {
    @apply h-[18px] rounded;
    background-color: var(--range);
  }

  .rangeSlider.min > .rangeHandle {
    @apply h-6 w-2 bg-white rounded-full border-2 border-solid;
    border-color: var(--range);
  }

  .rangeSlider.range .rangeHandle:nth-of-type(1) .rangeNub {
    @apply !rotate-0 bg-white rounded-full;
  }
}
